// This is the top-level scss file. Import all other files in here.
$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;

@import 'home';
@import 'navbar';
@import 'main';
@import 'picturePage';